*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++
*.c linguist-language=C
*.cc linguist-language=C++
*.cxx linguist-language=C++

CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
*.json linguist-detectable=false
*.md linguist-documentation
*.yml linguist-detectable=false
*.yaml linguist-detectable=false

third_party/* linguist-vendored